# Indica a Lombok que este es el directorio raíz de configuración
config.stopBubbling = true

# Propaga @Qualifier al parámetro del constructor generado por @RequiredArgsConstructor
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Qualifier

# Prohíbe usar @Data para evitar efectos colaterales en entidades y modelos
lombok.data.flagUsage = error
